<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>SusuProto</title>
=======
  <title>SusuBeta</title>
>>>>>>> 0ce9efdc1dd236bac5fdd0dcbb4f61b891cd5f8d
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
